.Pokecard{
    width: 15rem;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
}

.Pokecard-data{
    font-size: 80%;
}